@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 216 69% 23%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 209 69% 35%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --blue-gradient-light: 209 71% 34%;
    --blue-gradient-dark: 216 70% 18%;
    --red-gradient-light: 337 54% 36%;
    --red-gradient-dark: 263 48% 21%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  main {
    @apply flex flex-col;
  }

  header,
  footer,
  main > div {
    @apply relative flex flex-col items-center justify-start bg-top bg-no-repeat px-4 sm:px-4 md:px-8;
  }

  header > div,
  footer > div,
  main > div > section {
    @apply w-full max-w-228;
  }
}
